body{
    margin: 0;
    padding: 0;
    background-image: url('/images/home_bg.jpg');
    background-size: cover;
    
}

.welcome-title{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 50px;
    color: #108597;
}

.welcome-button{
    width: 200px;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background: linear-gradient(to right, #16a085, #f4d03f);
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 0 0.5em 0.5em -0.4em  rgb(16, 133, 151);
}

.welcome-button:hover{
    transform: translateY(-0.25em);
}

#noHabitText{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding: 45px;
    color: #108597;
}

#open-btn-fixed {
    background-color: rgb(16, 133, 151);
    color: white;
    font-size: 18px;
    padding: 12px 10px;
    border: none;
    cursor: pointer;
    top: 50%;
    left: 37%;
    opacity: 0.8;
    position: fixed;
    width: 250px;
    box-shadow: 0 0.5em 0.5em -0.4em rgb(16, 133, 151);
  }
  
#open-btn-fixed:hover{
    transform: translateY(-0.25em);
}


.form-popup{
  display: none;
  position: fixed;
  left: 25%;
  top: 17%;
  z-index: 4;
  text-align: center;
}

.form-container{
    width: 700px;
    height: 300px;
    padding: 10px;
    background-color: rgba(16, 133, 151, 0.6);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form-container input{
    outline: none;
}

.form-container input {
    width: 90%;
    padding: 12px;
    margin: 15px 0 22px 0;
    border: none;
    background: #f1f1f1;
    font-size: 15px;
}

.form-container button {
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-bottom:10px;
    opacity: 0.9;
    font-size: 18px;
    
}
.form-container #save-btn {
    background-color: rgb(130, 189, 107);
  }
.form-container #cancel-btn {
    background-color: rgb(241, 121, 109);
}

.form-container button:hover{
    transform: translateY(-0.25em);
}

/* ---------- styles when habits are added ---------- */
#open-btn {
    margin-top: 30px;
    left: 15%;
    position: absolute;
}
#change-view {
    margin-top: 30px;
    left: 75%;
    position: absolute;
}

.container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 200px;
}

.habit-title {
    margin-top: 35px;
    
}



.habit-container{
    display: flex;
    justify-content:space-evenly;
    background-color: rgba(255, 255, 255, 0.85);
    width: 70%;
    height: 90px;
    margin-right: 150px;
    padding: 5px;
    margin-top: 20px;
    
}

.day-container{
    margin-right: 5px;
}

.calender {
    display: flex;
}
.calender p {
    margin-right: 30px;
}

.mark-status{
    margin-left: 18px;
    font-size: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.281);
}

.menu {
    margin-top: 30px;
}
.menu i {
    margin-right: 10px;
    cursor: pointer;
}
.menu i:hover {
    transform: scale(1.15);
}

/* daily views */
.daily-view .habit-container {
    justify-content: space-between;

}

.mark-status-daily {
    color: rgba(0, 0, 0, 0.281);
    font-size: 28px;
    margin-left: 18px;
    margin-top: 27px;
}

.habit-desc {
    margin-left: 20px;
    font-size: 18px;
}

.btn-addHabit,.btn-showdetails{
    background-color: #FCFCFD;
    border-radius: 4px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
    position: relative;
}
.btn-showdetails{
    margin-left: 60px;
}

.btn-addHabit:hover{
    transform: translateY(-0.25em);
}
.btn-showdetails:hover{
    transform: translateY(-0.25em);
}
