body{
    margin: 0;
    padding: 0;
    background-image: url('/images/signup_bg.jpg');
    background-size:cover;
}

h1{
    
    color: #F0EDFF;
}

.signup{
    background: linear-gradient(to right, rgba(0, 65, 106, 0.6), rgba(228, 229, 230, 0.6));
    text-align: center;
    height: 450px;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50%;
    margin-top: 40px;
    border-radius: 10%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

form{
    display: flex;
    flex-direction: column;
}

input{
    width: 60%;
    height: 30px;
    outline: none;
    border: none;
    margin: 10px auto;
    padding: 3px;
    border-radius: 5px;
}

button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    color: #ffffff;
    background-color: #20DF7F;
    outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
}

button:hover{
    box-shadow: 0 0.5em 0.5em -0.4em  rgb(70, 131, 127);
    transform: translateY(-0.25em);
}

p a{
    text-decoration: none;
    color: #ffffff;
}